{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This Is Django Muse Page</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}" />

<body>

<h1 class="merah">
    HI, THIS'S NEW PROJECT BY 1204003_Kholida Magfirah</h1>
<h1 class="hijau">
    This is a picture of Django
</h1>

<h2 class="ungu">
    Django was created in the fall of 2003
</h2>

<h3 class="hijaumuda">
    Django is a lightweight and standalone web server for development and testing
</h3>

<a class="ungutua" href="https://www.djangoproject.com/">Now Let's Roll</a>

<img src="{% static 'img/download.jpg' %}">

</body>
</html>